<%= form_for(@application) do |f| %>
  <% if @application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@application.errors.count, "error") %> prohibited this application from being saved:</h2>

      <ul>
      <% @application.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table width="360" border="0" cellspacing="0">
  <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
  <tr><td><%= f.label :name %></td>
    <td><%= f.text_field :name %></td>
  </tr>
  <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
    <tr><td><%= f.label :description %></td>
    <td><%= f.text_area :description, :size => "24x4" %></td>
  </tr>
  <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
  <tr><td><%= f.submit "Go"%></td>
  </tr>
  <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
  </table>
<% end %>
