<%= form_for(@version) do |f| %>
  <% if @version.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@version.errors.count, "error") %> prohibited this version from being saved:</h2>

      <ul>
      <% @version.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :version %><br />
    <%= f.text_field :version %>
  </div>
  <div class="field">
    <%= f.label :application %><br />
    <%= f.text_field :application %>
  </div>

    <div>
      <img src="/assets/add.png" onclick="add_new_txt_boxes();" class="add" width="24" height="24"/>
      <input type="hidden" id ="param_count" name="version[param_count]" value="1"/>
    </div>
      <table id="tbl">
        <tbody id="text_boxes">
        <tr>
          <td><input type="text" id="prop1" name="version[key1]" size="50"/></td>
          <td><input type="text" id="value1'" name="version[value1]" size="50"/></td>
          <td></td>
        </tr>
        </tbody>
      </table>

    <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
