<div id="formDiv">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <h1>Sign In</h1>
      <table width="360" border="0" cellspacing="0">
        <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
        <tr>
          <td><%= f.label :email %></td>
          <td><%= f.email_field :email, :autofocus => true %></td>
        </tr>
        <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
        <tr>
          <td><%= f.label :password %></td>
          <td><%= f.password_field :password %></td>
        </tr>
        <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
        <tr>
          <td><% if devise_mapping.rememberable? -%><%= f.check_box :remember_me %> <%= f.label :remember_me %><% end -%></td>
        </tr>
        <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
        <tr>
        <td><%= f.submit "LogIn" %></td>
        </tr>
    <% end %>
  <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
  <tr>
    <td><a href="/users/sign_up">Sign Up</a></td>
    <td><a href="/users/password/new">Forgot your password?</a></td>
  </tr>
  </table>
</div>
<div id="logoDiv"><%= image_tag("logo.png", :alt => "ADM") %></div>

