<!DOCTYPE html>
<html>
<head>
  <title>ApplicationDeploymentManager</title>
  <%= javascript_include_tag :defaults %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "button", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if user_signed_in? %>
    <table width=100% height="31" cellspacing="0" class="bar">
      <tr>
        <td onclick="document.location='/'">Home</td>
        <td onclick="document.location='/applications'">Applications</td>
        <td onclick="document.location='/devices'">Devices</td>
        <td>Deployments</td>
        <td>Profiles</td>
        <td>Reports</td>
      </tr>
    </table>
<% end %>
    <p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div id="user_nav">
  <% if user_signed_in? %>
      <%= current_user.email %>. Not you?
      <%= link_to "Sign out", destroy_user_session_path, :method => :delete%>
  <% else %>
      <%= link_to "Sign up", new_user_registration_path %> or
      <%= link_to "Sign in", new_user_session_path %>
  <% end %>
</div>
<%= yield %>
<div id="footDiv">&copy;2013 ADM <a href="#"> Home</a>|| <a href="#">About Us</a> ||<a href="#"> Contact Us</a></div>
</body>
</html>
